name: Env test
on:
  push:
    branches: [main]
jobs:
  test:
    name: Test job
    runs-on: ubuntu-latest
    environment: production
    steps:
    - name: Vars test
      run: echo "Variable - ${{ vars.SERVER_DIR }}"