name: Env test
on:
  push:
    branches: [main]
env:
  SERVER_DIR: production
jobs:
  test:
    name: Test job
    runs-on: ubuntu-latest
    steps:
    - name: Vars test
      run: echo "Variable - ${{ env.SERVER_DIR }}"